*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    width: 100vw; height: 100vh;
}

body{
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 550px;
    height: 780px;
    background-color: black;
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

.background{
    width: 100%;
    height: 208px;
    background: url('../images/image\ 36.png');
}

.title{
    width: 360px;
    height: 48px;
    font-weight: 800;
    font-size: 42.7947px;
    letter-spacing: -0.045em;
    color: white;
}

.link{
    text-decoration: none;
    width: 137px;
    height: 20px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    line-height: 35px;
}

.temp{
    width: 100%;
    height: 572px;
    flex-direction: column;
}

#movies-list{
    height: 572px;
    width: 100%;
    background-color: black;
}

#movie {
    width: 472px;
    height: 150px;
    margin-inline: 44px;
    margin-block: 40px;
}

.temp > p{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #787878;
    margin-bottom: 15px;
}

.image-div {
    width: 99px;
    height: 147.41px;
    margin-right: 21px;
    border-radius: 2.32941px;
}

.thumbnail {
    width: 99px;
    height: 147.41px;
}

.details-div {
    flex-direction: column;
  }
  
  .title-rating {
    justify-content: flex-start;
    margin-top: 15px;
  }
  
  .movie-title {
    width: 250px;
    height: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: white;
  }
  
  .rating {
    width: 160px;
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: white;
  }
  
  .rating > img {
    margin: 0px 4px;
    border-radius: 0.75px;
  }
  
  .duration-genre-add {
    justify-content: flex-start;
    margin-top: 11px;
  }
  
  .duration,
  .genre {
    margin-right: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: white;
  }
  
  .add-movie-btn {
    display: flex;
    background: none;
    width: 93px;
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: white;
  }
  
  .watchlist {
    margin-left: 5px;
  }
  
  .description {
    width: 342px;
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #a5a5a5;
    margin-top: 8px;
  }
  
  .line {
    width: 461px;
    border: 1.5px solid #2c2c2c;
    margin-inline: auto;
    margin-top: 34px;
  }

.temp > a{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

#link-back{
    display: flex;
    justify-content: center;
}

#link-back > p{
    margin-left: 7px;
}